h1{
   color: azure;background-color: background-color rgb(52, 51, 51);text-align: center;
}
h3{
   background-color: rgb(60, 60, 60) ;color: aliceblue; 
}
button{
    text-align: center;
}
a{
    text-align: center;
    background-color: grey; color: aliceblue;
}